<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전세계 코로나 데이터</title>
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- Leaflet MarkerCluster CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

<!-- Leaflet MarkerCluster JS -->
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<!-- Chart Js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart.js DataLabels Plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">



<!-- chartjs-plugin-3d -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-3d"></script>


<!-- jquery와 riplles 라이브러리 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

<link rel="stylesheet" href="{{ url_for('worldwide.static', filename='css/worldwide.css') }}">
<link rel="stylesheet" href="{{ url_for('worldwide.static', filename='css/layout.css') }}">



</head>
<body class="dark-mode">
  <nav>
    <button class="icon-button" onclick="location.href='/domestic';">
      <i class="fa-solid fa-house"></i>  <!-- 집 아이콘 -->
      <span class="button-text">국내 페이지 이동</span>
    </button>
  </nav>

  <main>
    <!-- 왼쪽 국가 리스트 -->
    <section class="left-content">
      <!-- 데이터 업데이트날짜 -->
      <article class="update-day" data-tooltip="날짜를 클릭하여 변경하세요">
        <p>최신 업데이트 날짜</p>
        <p>{{records[0][0].date_reported}} 11:00</p>
        <p>
          <strong>확진자</strong>
          <span>| 사망자</span>
        </p>
        <!-- 날짜 선택 팝업 -->
        <div id="date-popup" class="hidden">
          <input type="date" id="date-picker" min="2020-01-04" max="2024-11-16" value="2022-07-01">
          <button id="submit-date">확인</button>
          <button id="cancel-date">취소</button>
        </div>
      </article>
      
      <!-- 검색창 부분 -->
      <article class="search-box">
        <form id="search-form">
          <input type="search" name="search" id="search-input" placeholder="국가명을 입력하세요">
          <button type="submit" class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </article>

      <!-- 나라 리스트 -->
      <article class="country-list">
        <ul>
          {% for record in records %}
          <li data-country="{{ record[0].country }}" data-lat="{{ record[2].country_lat }}" data-lng="{{ record[2].country_long }}" class="">
            <p class="country-name">
              <strong>{{ record[1].country_korean }}</strong>
              <span class="country-english">{{ record[0].country }}</span>
            </p>
            <p class="infection-rate">
              <strong>일일 감염비율</strong> 
              {% set country_percentage = country_percentages | selectattr('country', 'equalto', record[0].country) | list %}
              {% if country_percentage %}
              <span>{{ country_percentage[0].percentage if country_percentage else 0 }}%</span>
              {% endif %}
            </p>
            <p class="daily-status">
              <strong>일간현황</strong>
              <span><strong>{{ "{:,}".format(record[0].new_cases | int) }}</strong> | {{ "{:,}".format(record[0].new_deaths | int) }}</span>
            </p>
            <p class="cumulative-status">
              <strong>누적현황</strong>
              <span><strong>{{ "{:,}".format(record[0].cumulative_cases | int) }}</strong> | {{ "{:,}".format(record[0].cumulative_deaths | int) }}</span>
            </p>
          </li>
          {% endfor %}
        </ul>
      </article>

    </section>

<!-- ---------------------------------------------- -->

    <!-- 가운데 국가 지도 -->
    <section class="middle-content hvr-waves">
      <!-- 상단 전세계 일간현황 -->
      <article class="world-wide-daily">
        <h2>전세계 일간 현황</h2>
        <div class="world-count">
          <div class="daily-covid">
            <div class="select-wrapper">
            <select id="date-select">
              <option value="yesterday">어제</option>
              <option value="today" selected>오늘</option>
              <option value="tomorrow">내일(진짜)</option>
              <option value="prediction">내일(예측)</option>
            </select>
          </div>
            <div class="daily-covid-box">
              {% for classList in daily_classList %}
                <div>
                  <p>{{ classList.label }}</p> 
                  <p class="{{ classList.className }}" data-loading-target="{{ classList.className }}" >  
                    <!-- 애니메이션 SVG 로더 -->
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="42px" height="42px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                        <animateTransform attributeType="xml"
                          attributeName="transform"
                          type="rotate"
                          from="0 20 20"
                          to="360 20 20"
                          dur="0.5s"
                          repeatCount="indefinite"/>
                      </path>
                    </svg>
                  </p>
                  <p class="{{ classList.className }}-change"></p>  <!-- 동적으로 업데이트될 값 -->
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="all-day-covid">
            <div class="column title-column">
              <h3>총 확진자</h3>
              <h3>총 완치자</h3>
              <h3>총 사망자</h3>
            </div>
            <div class="column data-column">
              {% for classList in total_classList %}
                <div class="data-row">
                  <span class="{{ classList.className }}" data-loading-target="{{ classList.className }}">
                    <!-- 애니메이션 SVG 로더 -->
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                        <animateTransform attributeType="xml"
                          attributeName="transform"
                          type="rotate"
                          from="0 20 20"
                          to="360 20 20"
                          dur="0.5s"
                          repeatCount="indefinite"/>
                      </path>
                    </svg>
                  </span>
                  <span class="{{ classList.className }}-change"></span>  <!-- 동적으로 업데이트될 값 -->
                </div>
              {% endfor %}
            </div>
            
          </div>
        </div>
      </article>

      <!-- 지도 -->
      <article class="covid-map">
        <div id="map-container"></div>
    </article>

      <!-- 그래프 -->
      <article class="graph-box">
        <div class="graph-btn">
          <button id="pieGraphBtn">원형 그래프</button>
          <button id="barGraphBtn">막대 그래프</button>
          <button id="lineGraphBtn">라인 그래프</button>
        </div>
        <div class="graph-views">
          <div class="graph-view">
            <div class="graph-left">
              <h4>일간</h4>
              <div class="graph-details">
                <p>확진자</p>
                <p>0명</p>
                <p>완치자</p>
                <p>0명</p>
                <p>사망자</p>
                <p>0명</p>
              </div>
            </div>
            <div class="graph-right">
              <canvas id="dailyChart"></canvas>
            </div>
          </div>
          <div class="graph-view">
            <div class="graph-left">
              <h4>주간</h4>
              <div class="graph-details">
                <p>확진자</p>
                <p>0명</p>
                <p>완치자</p>
                <p>0명</p>
                <p>사망자</p>
                <p>0명</p>
              </div>
            </div>
            <div class="graph-right">
              <canvas id="weeklyChart"></canvas>
            </div>
          </div>
          <div class="graph-view">
            <div class="graph-left">
              <h4>월간</h4>
              <div class="graph-details">
                <p>확진자</p>
                <p>0명</p>
                <p>완치자</p>
                <p>0명</p>
                <p>사망자</p>
                <p>0명</p>
              </div>
            </div>
            <div class="graph-right">
              <canvas id="monthlyChart"></canvas>
            </div>
          </div>
        </div>
      </article>


    </section>

<!-- ---------------------------------------------- -->


    <!-- 오른쪽 크롤링 뉴스-->
    <section class="right-content">
      <div class="right-tab-btn">
        <div class="news active">관련 뉴스</div>
        <div class="test-btn ">실험소</div>
      </div>
      
      <div class="crw active">
        <div id="selected-country"></div>
        <div id="search-results"></div>
        
      </div>
      <div class="test ">
        <div class="test-mode">
          <div>
            <div>모드전환</div>
            <div class="toggle-button" data-action="toggle-dark-light"></div>
          </div>
          <div>
            <div>마우스 물결효과</div>
            <div class="toggle-button " data-action="toggle-mouse-action"></div>
          </div>
          <div>
            <div>마우스 커서효과</div>
            <div class="toggle-button " data-action="toggle-cursor-action"></div>
          </div>

      </div>
      </div>

    </section>

    

  </main>

  <video autoplay muted loop id="background-video">
    <source src="{{url_for('worldwide.static', filename='video/world.mp4')}}" type="video/mp4">
  </video>
  <script src="https://kit.fontawesome.com/c0680c70ea.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('worldwide.static', filename='js/worldwide.js') }}"></script>
  <script src="{{ url_for('worldwide.static', filename='js/crw.js') }}"></script>
</body>
</html>